MONGODB_URI=mongodb://127.0.0.1:27017/animoforums
GOOGLE_CLIENT_ID=mock_id
GOOGLE_CLIENT_SECRET=mock_secret
CALLBACK_URL=http://localhost:3000/api/auth/google/callback
SESSION_SECRET=dev_secret_key_minimum_thirty_two_characters_long_for_security
PORT=3000
NODE_ENV=development
